/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   banbed.html style css
----------------------------------------- */
#wrap {
    margin: 0 auto;
    width: 100%;
}
#ui-topbar{
	background-color: #f9f9f9;
	height: 60px;
	margin-top: 0px;
}
#ui-topbar .nav-bar{
	margin-top: 0px;
	padding: 0px;
}
.shop{
	background-color: #EFEFEF;
	padding: 40px 0;
	background-image: url(../images/shadow.png);
	background-repeat: repeat-x;
}
.shop-tuijian{
	border: 1px dashed #E6E6E6;
	background-color: #fff;
	padding: 30px 20px;
}
#shop-ul li{
	display: inline-block;
	float: left;
	height: 100px;
}
#shop-ul-tj{
	padding: 10px 35px 10px 15px;
	border-right: 1px solid #e6e6e6;
}
#s-recommend{
	position: relative;
	float: right;
	margin-left: 35px;
	width: 510px;
}
#s-recommend-food{
	font-size: 12px;
	color: #333;
}
#s-recommend-img{
	margin-left: 0px;
	margin-top: 5px;
}
#s-recommend-img li{
	margin: 0px 25px 0px 0px;
}
#s-change{
	position: absolute;
	top: 0px;
	right: 5px;
	font-size: 12px;
	color: #333;
}

/* -----------------------------------------
   Page Name 2
----------------------------------------- */


